.card {
    display: inline-block;
}

.stack {
    margin-left: 25px;
}
.stack .card {
    margin-left:-25px;
}

.smallstack {
    margin-left: 40px;
}
.smallstack .card {
    margin-left: -40px;
}

.stackinline {
    display: inline-block;
    margin-right: 8px;
}


.chat {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 400px;
}
.chat textarea {
    flex-grow: 1;
}

@media (min-width: 1300px) {
    .chat {
        position: absolute;
        right: 8px;
        top: 8px;
    }
}