.table {
    border: 1px solid black;
    width: 200px;
    min-height: 100px;
    display: flex;
    padding: 3px;
    margin-right: 1em;
}
.table.joinable {
    background-color: green;
}
.table.active {
    background-color: lightgray;
}

.buttonCommand {
    height: 3em;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonCommand span {
    margin-left: 1em;
}
.buttonCommand.w100 {
    width: 100px;;
}

.tableList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1em;
}

.newTable {
    display: flex;
    min-height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.card {
    display: inline-block;
}

.stack {
    margin-left: 25px;
}
.stack .card {
    margin-left:-25px;
}

.smalleststack {
    margin-left: 55px;
}
.smalleststack .card {
    margin-left: -55px;
}
.smallstack {
    margin-left: 40px;
}
.smallstack .card {
    margin-left: -40px;
}

.stackinline {
    display: inline-block;
    margin-right: 8px;
}


.chat {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    margin-top: 1em;
}
.chat textarea {
    flex-grow: 1;
}

.mainboard {
    display: flex;
    flex-wrap: nowrap;
    background-color: green;
    min-height: 320px;
    border-radius: 20px;
    padding: 10px;
}

.mainboardLeft { 
    width: 50%;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainboardCenter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainboardCenterUp {
    display: flex;
    justify-content: center;
}

.flexcolumnAlignBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mainboardCenterDown {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;  
}

.mainboardCenterCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:  solid black 1px;
    border-radius: 10px;
    margin: 5px;
    padding-bottom: 1em;
    padding-top: 1em;
}

.mainboardRight {
    width: 50%;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lastpli {
    height: auto;
}

.newTable input {
    background-color:green; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3333333333333333em;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

textarea {
    resize: none;
}

@media (min-width: 1300px) {
    .mainboard {
        max-width: 1065px;
    }
    .chat {
        position: absolute;
        right: 8px;
        top: 8px;
    }
}
