.table {
    border: 1px solid black;
    width: 200px;
}
.table.joinable {
    background-color: sandybrown;
}
.table.active {
    background-color: lightgray;
}
.card {
    display: inline-block;
}

.stack {
    margin-left: 25px;
}
.stack .card {
    margin-left:-25px;
}

.smalleststack {
    margin-left: 55px;
}
.smalleststack .card {
    margin-left: -55px;
}
.smallstack {
    margin-left: 40px;
}
.smallstack .card {
    margin-left: -40px;
}

.stackinline {
    display: inline-block;
    margin-right: 8px;
}


.chat {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 400px;
}
.chat textarea {
    flex-grow: 1;
}

@media (min-width: 1300px) {
    .chat {
        position: absolute;
        right: 8px;
        top: 8px;
    }
}
